*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    background-color: black;
    color: white;
} */
.invert{
    filter: invert();
}
.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
}
ul li{
    width: 14px;
}
.header{
    width: 100%;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
    padding: 23px 14px;
    font-size: 13px;
}
.header img{
    width: 30px;
}